body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background-color: #f9f9fa;
  }
  
  #qr-video {
    border: 1px solid #ccc;
    box-shadow: 0 2px 3px rgba(0, 0, 0, .1);
    margin-bottom: 20px;
  }
  
  #output {
    max-width: 320px;
    text-align: center;
  }